<div class="search">
  <input
    class="search-input"
    name="search"
    type="text"
    [readonly]="readonlyMode"
    placeholder="Search with company name to see stocks"
    [(ngModel)]="searchTerm"
    autocomplete="off"
    (keydown.enter)="findStock()"
  />
</div>

<ngx-charts-line-chart
  *ngIf="stockData"
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="stockData"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-line-chart>